.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.footer__column-link:hover {
  opacity: 0.5;
  visibility: hidden;
  -webkit-transition: opacity 4s, visibility 0s linear 5s;
  -o-transition: opacity 4s, visibility 0s linear 5s;
  transition: opacity 4s, visibility 0s linear 5s;
}
