.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover {
  opacity: 0.5;
  visibility: hidden;
  -webkit-transition: opacity 5s, visibility 0s linear 5s;
  -o-transition: opacity 5s, visibility 0s linear 5s;
  transition: opacity 5s, visibility 0s linear 5s;
}
