.form__field_submit {
text-align: center;
width: 150px;
padding-right: 10px;
background: rgba(0, 0, 0, 0.5);
}
.form__field_submit:hover {
  background-color: brown;
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
