.feinman__subtitle {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 648px;
  height: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
