/* блок footer */
.footer {
  box-sizing: border-box;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color:  #1f1f1f;
  z-index: 1;
  min-height: 350px;
}
.footer__column_content_copyright {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
/* расположение блока author footer */
.footer__author {
  display: flex;
  padding-bottom: 18px;
  padding-top: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}


/* размер и направление элементов в footer */
.footer__columns {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* отступы в колонках*/
.footer__column-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  list-style-type: none;
  padding-left: 0px;
}
.footer__column-link:hover {
  background: rgb(21, 109, 109); /* Цвет фона под ссылкой */
  color: #ffe; /* Цвет ссылки */
}
.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;

}
.footer__column_links:last-child {
  margin-bottom: 16px;
}
/* расположение текста в колонках*/
.footer__column_content_info {
display: flex;
flex-direction: column;
}
.footer__column_content_social {

display: flex;
flex-direction: column;
left: 0px;
}
/* шрифты и отступы в колонках*/


.footer__column-links:last-child {
  margin-bottom: 16px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
